:root {
    --blanco: #e5e7eb;
    --negro: #000;
    --rojo: #f87171;
    --gris: #9ca3af;
    --azul: #60a5fa;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-family: "Krub", sans-serif;
    background-image: linear-gradient(135deg, #0f172a, #1e1b4b, #7f1d1d);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--blanco);
}

h1,
h2,
h3 {
    text-align: center;
    text-transform: uppercase;
}

h1 {
    color: var(--rojo);
    font-size: 3rem;
}

h2 {
    color: var(--azul);
    font-size: 2rem;
}

@media (min-width: 768px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3rem;
    }
}

a {
    color: var(--blanco);
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    list-style-type: none;
}

.contenedor {
    width: min(120rem, 95%);
    margin: 0 auto;
}

@media (min-width: 768px) {
    .contenedor-boton {
        display: flex;
        justify-content: center;
    }
}

.boton-enviar {
    background: linear-gradient(135deg, #2563eb, #dc2626);
    color: #ffffff;
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

@media (min-width: 768px) {
    .boton-enviar {
        width: auto;
        padding: 1rem 3rem;

    }
}


.grid {
    display: grid;
    gap: 1rem;
    grid-template-rows: auto auto 1fr auto;
    height: 100vh;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "header header"
            "sidebar main"
            "footer footer"
        ;
    }

    .header {
        grid-area: header;
    }

    .sidebar {
        grid-area: sidebar;
    }

    .main {
        grid-area: main;
    }

    .footer {
        grid-area: footer;
    }
}

.bg-vidrio {
    background: rgba(17, 24, 39, 0.159);
    /* semi transparente */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    /* Safari */
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);
}

footer {
    padding: 2rem;
    text-align: center;
    color: var(--azul);
}

/* SIDEBAR */

.sidebar ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    gap: 1rem;
}

.sidebar a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.6rem;
}

@media (min-width: 768px) {
    .sidebar ul {
        margin-top: 3rem;
        gap: 2rem;
    }

    .sidebar a {
        font-size: 1.8rem;
    }
}

/* MAIN */
.main {
    display: flex;
    flex-direction: column;
    min-height: 0;
    padding: 2rem;
}

.main .contenido {
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
}

.main .contenido::-webkit-scrollbar {
    width: 6px;
}

.main .contenido::-webkit-scrollbar-track {
    background: transparent;
}

.main .contenido::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}

.main .contenido::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

/* NUEVO CLIENTE */

.campos {
    display: flex;
    flex-direction: column;

}

@media (min-width: 768px) {
    .campos {
        width: min(50rem, 95%);
        margin: 0 auto;
    }
}

#formulario .campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

#formulario label {
    display: block;
    margin-bottom: .5rem;
}

input {
    padding: 1rem;
    border: none;
    border-radius: 1rem;
}